.user-info{
    /* background-color: #0D1117; */
    background-color: #06080e;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 1.2rem;
}
.username{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.username h3{
    margin-top: 1rem;
    color: #8b949e;
    margin-bottom: 2.5rem;
}
.user-info img{
    width: 95%;
    /* height: 50%; */
    border-radius: 50%;
    border: 5px solid #5d55fa;
    margin-top: 10%;
}
.user-info p{
    font-size: 1.2rem;
}
.location{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: .4rem;
}
.info{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.followers, .following{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: .5rem;
}

svg{
    color: #c9d1d9;
    font-size: 1.3rem;    
}

.btn{
    text-decoration: none;
    border: 2px solid #5d55fa;
    background-color: transparent;
    color: #5d55fa;
    padding: .5rem .7rem;
    margin-top: 2.5rem;
    border-radius: 5rem;
    font-size: 1.3rem;
    font-weight: bold;
    transition: .3s;
}
.btn:hover{
    background-color: #5d55fa;
    color: #17191A
}


@media screen and (min-width: 600px){
    .user-container{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        margin: 0;
        position: relative;
    }
    .username{
        align-items: flex-start;
    }
    .user-info{
        position: fixed;
        width: 27rem;
        height: 100vh;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 auto;
    }
    .user-info img{
        margin: 3rem auto 1rem;
    }
}

